html {
	font-family: sans-serif;
	width: 90%;
}

.container {
	/* background-color: black; */
}

.screen-grid {
	display: grid;
	grid-template: 400px / 600px 600px;
	/* grid-template-rows: 400px;
	grid-template-columns: 600px 600px; */
	grid-gap: 20px;
}

.screen-grid div:nth-child(1) {
	background-color: blue;
}

.screen-grid div:nth-child(2) {
	background-color: red;
}

.negativeBalance {
	color: red;
	padding: 8px;
	background-color: pink;
	font-size: 15px;
}
